<!-- Modal - Add User -->
<ng-template #content let-modal><user-form [modal]="modal"></user-form></ng-template>


<div class="container container-fluid">
  <div class="row">
    <h1 class="col-12">Users</h1>
  </div>

  <div class="row top-cont">
    <div class="col-6">
      <div class="src-cont">
        <fa-icon [icon]="faSearch"></fa-icon>
        <input-search></input-search>
      </div>
    </div>
    <div class="col-6">
      <button class=" btn btn-primary" (click)="openUserModal(content)"><fa-icon [icon]="faUserPlus"></fa-icon></button>
    </div>
    
  </div>

   <div class="cont-table">
    <table class="table">
      <thead>
        <tr>
          <th scope="col" width="100px">id</th>
          <th scope="col" width="300px">Name</th>
          <th scope="col" width="300px">Username</th>
          <th scope="col" width="60px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of service.userList$ | async | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>
            <button type="button" class="close text-danger" (click)="deleteUser(user.id)">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
   </div>


    <div class="row">
      <div class="col-12 pag">
        <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="(service.userList$ | async).length"></ngb-pagination>
      </div>
    </div>

</div>



<router-outlet></router-outlet>
